body {
    font-family: roboto
}

.sectionone, header,footer {
    background-color: #1f2937;
    color: white;
    padding: 20px 200px;
}

.sectionone .container h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.sectionone .container p, a {
    color: #E5E7EB;
    font-size: 24px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

h3 {
    color: #F9FAF8;
    font-size: 24px;
}

header {
    display: flex;
    
    justify-content:space-between;
    align-items: center;
}

.sectionone {
    display: flex;
    justify-content: space-between;
    
} 

.sectiontwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.infosect {
    display: flex;
    gap:40px;
}

.img{
   display: flex;
  
   flex-wrap: wrap;
  
   width: 150px;
}

.img p {
    text-align:center;
    
}

.img img {
    border-radius: 15px;
}

.info p{
    flex-wrap: wrap;
}

.sectionthree {
    background-color: #E5E7EB;
    padding: 50px 400px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.person {
    color:#1f2937;
    font-weight: bold;
    text-align: end;
}
/*
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

footer {
   display: flex;
    justify-content: center;
}